{% extends app.request.isXmlHttpRequest ? 'WebProfilerBundle:Profiler:ajax_layout.html.twig' : 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
	{% set icon %}
		<img width="20" height="28" alt="FitBit" src="data:image/png;base64,
iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0CAMAAAD8CC+4AAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAH0AAAB9ABMtKM8AAAAZlBMVEUAAAD///80
NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0
NDNFwsVB8kciAAAAIHRSTlMAABAQICAwMEBAUFBgYHBwgICPj5+fr6+/v8/P39/v7wTGeHIAAAABYktHRAH/Ai3eAAAS7klEQVR42u3d62KquhaG4S5AREVF
RYtnuf+bXNpzK0lGDGZKfL9/e69OWnlCgJiMvPxHni4vnALQCegEdAI6AZ2ATkAnoBPQCegEdAI6AZ2ATkAnoBPQQSegE9AJ6AR0AjoBnYBOQCegE9AJ6AR0
AjoBnYBOQAedgE5AJ6CLD/+gGYxm54wG/n8z6P8ko8W2/sp2MQI9dPR4tq//ZD+LQQ8ZfXasG3KcgR4sen9bK7Lvgx4m+rjWZAp6iOjLWpsl6OGhG8x9qYPu
8xGuNmYBeljog1qQEeghocdHCfoxBj0g9GUtyivo4aD3amEGoAeDvpSir0EPBV18odd1D/RA0Kdy9AXogaBv5ehb0MNAj+v6cfp30B9oYMbXAA3oDzMC+50Z
6M+HvgQ9CPS1DfoadNBBBx30jqC/gs6DHE/vT4A+tkGfgh4Eet8GfQB6GGPvR7n5kbH3QNCXcvRX0ANBHz3O0Dvo3rKXmu+ZORMM+vhRXthAf7xLfR+DHg76
4EHu6KA/3AO8h2nvoHtMLJgnt41BDwr9pWccoTl6KUwAutfB2OMjmIPuWV3bw289FSAB3fN9XfPF+quvClOgex+PVXTxR3/F5ED3f7E31RQ7+iwkB/o/GZL9
08m/jr3+etD/0eU+mq3fJkuu17NR7PmXg/6EAR100EEHHXTQQQcddNBBBx100EEHHXTQQQcddNBBBx100EEHHXTQQSeggw466KBr0xsMBo4zGs9HcCwkFWVZ
loDuA70/ff2sMLBdjm+SHy2+CoeuFzctc4jycnN6z64qUtDviX695b31rPX+8s9yh+PS9orPV6ff2RUR6HdCjxeNJUNs2AeNxYHXNuz57tSQMgL9HuhT1Vrj
dd+p1bxt0iS9T6TVqTmHCeito+uWnNayi72vKTe0lzWc/HBSpopAbxe9t3XehGOsrUpwlDSc8qTLLgW9TXRTGQmBurGW3NjR/NzFp6C3hx6b68CZ1EfuBaBN
5mf1CPTW0CVbKI7duopLD6/fiC8/mbMBvS102dYMfddmo99zMzkI0E9z0NtBFxbpXzs3G21p2OokSgZ6K+jS3ZbUHXwsLPN/jJ0697cXN9DbMBdvlaqu271w
339xJ0Q3XeqgiyLfYWvseKFrLvWh1Nx0qYMuGpZx34vDYrsmVbtZidFPCejuQ+4WWy3Frn2F6mkwkpufJqB77N2V12nt3G6GFugV6M6x2F+rXrg9CaqH5QoL
9BPoHm/pqs7Z5gaheFWvbNBT0H29sKm30rPaa7W5s9jYoGegO2ZkI1Y3HmLp3lnYmOuf5EBvbdxdi772jF6ADjrothm7o7/SvfMgx4Mcr2y8sj3e4EzN4Mzz
oa8ZhuULl/t+4bLlC5fn+2p1ylerTzeJomYSxWOgM13qCdE9Toyse0yMfBB0pkA/IfpjLHZIWezgFd3XsqY+y5oeCN3PAkbTslUWMHpFZ6nyM6LfvyhB7V6U
YENRgnbRO1B+ZEX5kbbRNYWGtu6FhpYUGnpM9Jd4SUmxp0M/39mvigdubYsHDq5ajn3xwOqqeKC8XCjotzzHz74u1v3rtHdLhzFafj0VbpejWyqNJpPV1/Ve
FZnNPwX91n7+Us2379ZnXA7RczpEei4InEW2/wr0JwzooIMOOuiggw466KCDDjrooIMOOuiggw466KCDDjrooIMOOuiggw46AR100EEPFT2dlNVlHumhWtlN
Iv1OVqyqw9tu9fM8uekI0bCo3qoBbqpiGN10iCSft/c5yknqt2n4RE/mv9cJHErr85WVh5tnnH+I/521vspt3ZOi/c8xT4JET5pW/1VWp6txcUlpwx4VDYvR
DoUNe+Pn2OVW5E1ro1ZpcOjRXFWjRWymXEY2F5sNFesPD7m81ag+RypuNarP8WNpVBDombo4k3Tl38Rx4/Iz2Mp1yelLurux4veP7kq98PWQhYSur9xRSsD0
S8MlV2q6cd7xPtfWnRE1HNnnCAB9YqjgYFaPTLW3zeqmQkGCMhKmqjObyNH861R0H91coceobq7nlTuaC9Rz9zpD5rI1kzDQJRU2567nylBl3dxVXHp4/YWa
Cv4IQ+uVVBAfhoAu22x+qH3olhxBX9lJVNB3pW02okKh2g4nE32OJAB0WaVFHVkkajbaq0xYz3fo2Nt8kDk1m7dCox1Hl5ZPLlxPt7ZCp7Ccr6aDz4R/ROnW
uX80vY6ji6snKy+RxL3otrSar6bpVc6fQ9hhnZte19HlddIL1wtdc6mLW97O5SnOcKnL94EZdhxdviPCwfUCUZ9vix1YcueWd4pcW975gbLT6DZ7nwwdu2Z1
u7EQUz3AH5zbTWZxKqJOo9vscjR3eNnSt5uDc7uxEVO0m7nFIfJOo9t80o2zmOK5ILU4guK5wGZftoPjk+Cl/Xca3WrnwuZbus0RKtcbhGqDLZvuRvH8bvU5
Oo1utTFt6tqxKh6+rbZPbO4s3PdaTaxOxfOgZ45P3qrOonTvLKz+iNy58T47euGOXnlGL0AHHXRb9Anoz4eeuaNbdRal83tjG5+j0+g7m08aOb9kV/d6eq+c
0a06i12n0W3ebxWDGu6XqdVFNnQeTju5Dr2fB/U6jW5zR1YMX9q8Ik/cx3cS5/GdjftwctFp9NRZzKpzTpzbzcbxO331dwg27Sbt9lerO2ex1FnM5g1A9a2+
RbtJndvNruPfpxeOD2FW53vy4ny+E9e5N+p5GCuLltdt9MTxCcrmfKsnV5aOzxU2Uzly11l2l5bX8TlypWPXbPHcq57gJm56mfOsxp3Lio2vd5COo0svkcx5
/rJurUIpPt2O85d1E98zeYfVcXThU9TKeaWCdtK6rOlp10sM3Z5M5G/7kxCWNa0cr1IhmX5F0dC12cjI9MtsJGur3pt/59EFH9W0dtC8+tC4dlBwTzYsqJO8
RrTwOaIwVq0ab4fmVcK57Fw5LYI0Lp01t17jgmmj+seyqO6jm86WYGW4oRyAZGW4SV1QGsGkLiiNYFDfpOFUoogqwQe9vfCHsHhIfsvAjrwexkH2OXQNp4qC
KjQ0UbZwaZkgdcUYadUazQnfScsEqXuclfRzzAUDDWGgN1fisqsppqhWZFNTrGg0OxTyIygu9p3N52ju91ZJaCXFmtkry6p7V9vVnwv32VUPjIqrlrMr7KoH
JuVVy6lyu8/RwF7+6muCQb9Ua1z9OF/V5IYqn8nkx/k62Fd7vLyyz3/08pv50P4IUV7e+XMEhP72abNJcU6WvtycNLscYZIlNx8hyoaXQwyz6OZD3PdzBIb+
7PnvAQI66KCDDjrooIMOOuiggw466AR00EEHHXTQQQcddNBBBx100EEHHXTQQQcddNAfFX0wna3PWc7G/RuPEA9mi8shFrNBfOMhkrwoq3PO8xpBvzN6PH6t
f+S4HFgforfY/jzEdtGzPkRW/po8bzURG3Rbr+Wx/pv92K6bWF8doV7btZz8eqGNxZIL0O2u8lndmP1I3mrWzYdYy6921U7w0iV5oNukv69VeRXemadH1RGO
U9kR1KsopavZQLfIuNZkL3mki5e6Q4gajnadsWy1M+jyaMHOV6pZPd7qD7E1q5vqSJSgt4m+qGtHdZO5QN1cMaYEvT30cW3MsefUVbz18Ib7uaDGVQ56W+j9
WpCt/hlOcoiZ9hCigo8p6C2hb2tXMlGzqWvdPUJWJ3QXgd6K+UwmVms6+LXsCGvNuKuw3GkBeiuDMkch+lI9Dic8Qq0e3pMWNj5EoHu80DWX+lp6BOWDgbyE
eQF6C9mL0Rdud3TdXV2+WcEBdPeM5GL7W9/yzbcIi21JhqDff1zGfJ3unduNzQZEJeie3td0b2292rnd2Gw1tgPdOTZir643CNXzu9Vu3BHorpOjbMS2jo//
ys6ihW03Qb8Ten3rsLups7DaHXcI+r9HX9scYe2OXoAOOuigg849HXSe3kHnPZ0ROUbkGHtn7J1v2fiWje/T+T6dmTPMnOkUOnPknhCd2bDPiM6892dEb2GF
y8y12bDCxTN6G2vZXr2sZTOvVga9vREaVq2Gh8769GdEpxLFM6I/SM2ZkpozPtEfvLpUQXWpe6BTR+4p0a8qRu5vqRg5/V0xckbFyAdHf7tYqQ37fOjdDuig
gw466KCDDjrooIMOOuiggw466KCDDjrooIMOOuiggw466KCDDjoBHXTQQQf9vhkMZucMBqA/CXp/8WMO9HbRBz109Hh6tTpqP41BDxm9eTXbcQZ6sOh95Wrl
bR/0MNHHt9WVAr3D6ItbC5KB3ln05e1l6EDvKPrUtbgU6J1DF9WMHIEeErqs1OgxBj0g9KVrdVnQO4cu3tthAHow6OL9ml5BDwXdYhOXHuiBoE/l6DPQA0G3
2PBpC3oY6LHNFl090INAt9rEcQR6EOgtbLsJetDoS9CDQG9hK23QQQcddNAfD30JOg9yPL0/AfrYBn0KehDofRv0AehhjL0f5eZHxt4DQbd4knsFPRD0kRx9
DHooM2f2D9O7g/54L20z0INBj4WXuoc50KA/2l3dw2oH0P3l9THmwoLutYMXzJPbx6AHhf7SN47QHL0UJgD9kdT9mIPuWV3bw+89FSAB3fN9XfM09+qrwhTo
3t/cFF38ceztTwDd/8U+OzZVFPNYSA70f8E+/nNr34591g4E/R+lN16s38Zl9+vFuOf5lz8BOnnEgA46AZ2ATkAnoBPQCegEdAI6AZ2ATkAnoBPQCegEdAI6
6AR0AjoBnYBOQCegE9AJ6AR0AjoBnYBOQCegE9AJ6KAT0AnoBHQCOgGdgE5AJ6AT0Ano5GnQm+qkZ9mwOCeR1lVPilz/A1E+SVqu5T4ssoes795J9GS+OX1m
KDz/5x/daM0vh8xaNS/PR5yD3gp6Wp1+pJIB7E4G08nlB1Ztmidvfx/obaAXp9MN6CcTemFxMFky0NtCL3+bnwrQg0eff3NvqnMmL6CHjj78AF/lzU/ag9ls
4Bs9Hs2mfdDvh757v8ZTxe6pe+UuqfdDH79t57eOQb8Tev5uHun3SW7aD/lu6KPPPfxi0O+D/v56rhpDWX9uorj2iP61becM9Lugv7/5zlXn/3vrTH/og++9
t0G/C/pEe6F/n/968A/Qa9Dvgr466QZT4+/zH3OlB4O+0fbuL1/bI2/9de/x1z19Cfpd0N/O4sR81Q08PsjNPjdd74F+P/TM9Mp8HHt9T1/UisEB0NtAT41y
8XSxmMaeR+R6s+VsHDMidx/0TPvwzth7wOgvoIMOOuiggw466KCDDvojo2eXvH/fkv3K33Oapi2iv/+K1MybgN560t1Jld0vkug8O7r6PcVipfynh1yDHg3L
71+6metm11/+uvLX/7FR/s5NCrowarg/U9UnV4PzE80/PSjRk/Lw92fnykGh1d81F9o/F3RhDpqzuPt5/qurPrrQ/NNf3f0P9KRZrVTM0qr+zsSudA0NdGFK
zVks9ei5/ZVeyO4HanSu9DYSqa+dVaRH/zlRXvs48Ike/bohb6qd8WK/Qtf8uVUEetuvbJXyvUv69J5+3Up28+E7cTL8vsM3TcStFAtteHrvCPqXefX7Z/NK
rQ56t9F3H+a765/MDyp10LuNrrt1f96pV6CHiK4qWfHxEjEBPTx0dZmSd/VDAnpo6KXp+H9/AvTOo+sL0xwapumB3nl0/XdqecOlDnrX0UvDt6hv43WHCPSQ
0E0TrPPrZz3QO46+MU6YODR/ywN6d9HNdYvK5u9zQe8uurlkZH71R4DecXTpdMcM9HC+cLllXi3o3UavQAcddLp30ANDHwof5FLQw0HPBCPvvLJ1EL0wdtsM
zjwX+ka2tcPOchg2Af2foVdG9LnoC5eh/AuXpPGWAvojoaeir1bf586Ivlp9Af0R0FfmjttwqWcWkyheGneTAt0femH+4jQ3bwQU7RquXiX6ruk/gO4PfXLd
LSsu9cL06P73FyjRG3sX0P2hp4Kd+4amKdBF4zQ6Jfq8aZAPdH/o7zNeDG9kK736pHlTMCV63tREQPeIXgpG3D5u2c09fFQq5kgr0aOmZVCge0TPtHv+fN4E
PlYpVtfP8NlHgziIFzB+9hw56P8K/eMNe5OK1E/lb/bss7rEIbUYAsgaFr+B7hM9+9rHL5Won6rJ58+lk01z9QrjuE/1Vd8gAf1foP8qRHLZsrO5cNCvemCX
jT1//u+NqPzIj5HYw5/fWYDuF/1qb97msZpIXaVGczkXpo7jI3PQ/aJfFR1S9PNZc6GgKnmxRn/5W/dwB7odemJEnxuG1P5wKh/lh9fsZaZtacoRnaj4dbFv
QLdDfzPVTnO43EMP2q9MkuLbc677uckP98Mqj/TPftpR/WH59VxwGIJuif6SmqrzRlkWGedBJMJCv2k2KYoizxLz8aS/M+FBjoBOQCegE9AJ6AR0AjoBnYAO
OqcAdAI6AZ2ATkAnoBPQCegEdAI6AZ2ATkAnoBPQCegEdNAJ6AR0AjoBnYBOQCegE9AJ6OTO+R9PaQvg1/UGJQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxMS0w
MS0wOFQyMzoyNTo0NCswMDowMFtE1BcAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTEtMDEtMDhUMjM6MjU6NDQrMDA6MDAqGWyrAAAAF3RFWHRwbmc6Yml0LWRl
cHRoLXdyaXR0ZW4ACKfELPIAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAAElFTkSuQmCC" />
		<span class="sf-toolbar-status{% if 5 < collector.count %} sf-toolbar-status-yellow{% endif %}">{{ collector.count }}</span>
		{% if collector.count > 0 %}
			<span class="sf-toolbar-info-piece-additional-detail">in {{ '%0.2f'|format(collector.time * 1000) }} ms</span>
		{% endif %}
{#
		{% if collector.invalidEntityCount > 0 %}
			<span class="sf-toolbar-info-piece-additional sf-toolbar-status sf-toolbar-status-red"> </span>
		{% endif %}
#}
	{% endset %}
	{% set text %}
		<div class="sf-toolbar-info-piece">
			<b>API Requests</b>
			<span>{{ collector.count }}</span>
		</div>
		<div class="sf-toolbar-info-piece">
			<b>Request time</b>
			<span>{{ '%0.2f'|format(collector.time * 1000) }} ms</span>
		</div>
		<div class="sf-toolbar-info-piece">
			<b>Quota</b>
			{% if collector.quota.viewer is defined %}
				<span class="sf-toolbar-status sf-toolbar-status-{{ collector.quota.viewer.remaining < 15 ? 'red' : 'green' }}">{{ collector.quota.viewer.remaining }}</span>
			{% else %}
				<span>Unknown</span>
			{% endif %}
		</div>
{#
		<div class="sf-toolbar-info-piece">
			<b>Invalid entities</b>
			<span class="sf-toolbar-status sf-toolbar-status-{{ collector.invalidEntityCount > 0 ? 'red' : 'green' }}">{{ collector.invalidEntityCount }}</span>
		</div>
#}
	{% endset %}
	{% include 'WebProfilerBundle:Profiler:toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
	<span class="label">
	    <span class="icon"><img width="20" height="28" alt="FitBit" src="data:image/png;base64,
iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0CAMAAAD8CC+4AAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAH0AAAB9ABMtKM8AAAAZlBMVEUAAAD///80
NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0NDNFwsU0
NDNFwsVB8kciAAAAIHRSTlMAABAQICAwMEBAUFBgYHBwgICPj5+fr6+/v8/P39/v7wTGeHIAAAABYktHRAH/Ai3eAAAS7klEQVR42u3d62KquhaG4S5AREVF
RYtnuf+bXNpzK0lGDGZKfL9/e69OWnlCgJiMvPxHni4vnALQCegEdAI6AZ2ATkAnoBPQCegEdAI6AZ2ATkAnoBPQQSegE9AJ6AR0AjoBnYBOQCegE9AJ6AR0
AjoBnYBOQAedgE5AJ6CLD/+gGYxm54wG/n8z6P8ko8W2/sp2MQI9dPR4tq//ZD+LQQ8ZfXasG3KcgR4sen9bK7Lvgx4m+rjWZAp6iOjLWpsl6OGhG8x9qYPu
8xGuNmYBeljog1qQEeghocdHCfoxBj0g9GUtyivo4aD3amEGoAeDvpSir0EPBV18odd1D/RA0Kdy9AXogaBv5ehb0MNAj+v6cfp30B9oYMbXAA3oDzMC+50Z
6M+HvgQ9CPS1DfoadNBBBx30jqC/gs6DHE/vT4A+tkGfgh4Eet8GfQB6GGPvR7n5kbH3QNCXcvRX0ANBHz3O0Dvo3rKXmu+ZORMM+vhRXthAf7xLfR+DHg76
4EHu6KA/3AO8h2nvoHtMLJgnt41BDwr9pWccoTl6KUwAutfB2OMjmIPuWV3bw289FSAB3fN9XfPF+quvClOgex+PVXTxR3/F5ED3f7E31RQ7+iwkB/o/GZL9
08m/jr3+etD/0eU+mq3fJkuu17NR7PmXg/6EAR100EEHHXTQQQcddNBBBx100EEHHXTQQQcddNBBBx100EEHHXTQQSeggw466KBr0xsMBo4zGs9HcCwkFWVZ
loDuA70/ff2sMLBdjm+SHy2+CoeuFzctc4jycnN6z64qUtDviX695b31rPX+8s9yh+PS9orPV6ff2RUR6HdCjxeNJUNs2AeNxYHXNuz57tSQMgL9HuhT1Vrj
dd+p1bxt0iS9T6TVqTmHCeito+uWnNayi72vKTe0lzWc/HBSpopAbxe9t3XehGOsrUpwlDSc8qTLLgW9TXRTGQmBurGW3NjR/NzFp6C3hx6b68CZ1EfuBaBN
5mf1CPTW0CVbKI7duopLD6/fiC8/mbMBvS102dYMfddmo99zMzkI0E9z0NtBFxbpXzs3G21p2OokSgZ6K+jS3ZbUHXwsLPN/jJ0697cXN9DbMBdvlaqu271w
339xJ0Q3XeqgiyLfYWvseKFrLvWh1Nx0qYMuGpZx34vDYrsmVbtZidFPCejuQ+4WWy3Frn2F6mkwkpufJqB77N2V12nt3G6GFugV6M6x2F+rXrg9CaqH5QoL
9BPoHm/pqs7Z5gaheFWvbNBT0H29sKm30rPaa7W5s9jYoGegO2ZkI1Y3HmLp3lnYmOuf5EBvbdxdi772jF6ADjrothm7o7/SvfMgx4Mcr2y8sj3e4EzN4Mzz
oa8ZhuULl/t+4bLlC5fn+2p1ylerTzeJomYSxWOgM13qCdE9Toyse0yMfBB0pkA/IfpjLHZIWezgFd3XsqY+y5oeCN3PAkbTslUWMHpFZ6nyM6LfvyhB7V6U
YENRgnbRO1B+ZEX5kbbRNYWGtu6FhpYUGnpM9Jd4SUmxp0M/39mvigdubYsHDq5ajn3xwOqqeKC8XCjotzzHz74u1v3rtHdLhzFafj0VbpejWyqNJpPV1/Ve
FZnNPwX91n7+Us2379ZnXA7RczpEei4InEW2/wr0JwzooIMOOuiggw466KCDDjrooIMOOuiggw466KCDDjrooIMOOuiggw46AR100EEPFT2dlNVlHumhWtlN
Iv1OVqyqw9tu9fM8uekI0bCo3qoBbqpiGN10iCSft/c5yknqt2n4RE/mv9cJHErr85WVh5tnnH+I/521vspt3ZOi/c8xT4JET5pW/1VWp6txcUlpwx4VDYvR
DoUNe+Pn2OVW5E1ro1ZpcOjRXFWjRWymXEY2F5sNFesPD7m81ag+RypuNarP8WNpVBDombo4k3Tl38Rx4/Iz2Mp1yelLurux4veP7kq98PWQhYSur9xRSsD0
S8MlV2q6cd7xPtfWnRE1HNnnCAB9YqjgYFaPTLW3zeqmQkGCMhKmqjObyNH861R0H91coceobq7nlTuaC9Rz9zpD5rI1kzDQJRU2567nylBl3dxVXHp4/YWa
Cv4IQ+uVVBAfhoAu22x+qH3olhxBX9lJVNB3pW02okKh2g4nE32OJAB0WaVFHVkkajbaq0xYz3fo2Nt8kDk1m7dCox1Hl5ZPLlxPt7ZCp7Ccr6aDz4R/ROnW
uX80vY6ji6snKy+RxL3otrSar6bpVc6fQ9hhnZte19HlddIL1wtdc6mLW97O5SnOcKnL94EZdhxdviPCwfUCUZ9vix1YcueWd4pcW975gbLT6DZ7nwwdu2Z1
u7EQUz3AH5zbTWZxKqJOo9vscjR3eNnSt5uDc7uxEVO0m7nFIfJOo9t80o2zmOK5ILU4guK5wGZftoPjk+Cl/Xca3WrnwuZbus0RKtcbhGqDLZvuRvH8bvU5
Oo1utTFt6tqxKh6+rbZPbO4s3PdaTaxOxfOgZ45P3qrOonTvLKz+iNy58T47euGOXnlGL0AHHXRb9Anoz4eeuaNbdRal83tjG5+j0+g7m08aOb9kV/d6eq+c
0a06i12n0W3ebxWDGu6XqdVFNnQeTju5Dr2fB/U6jW5zR1YMX9q8Ik/cx3cS5/GdjftwctFp9NRZzKpzTpzbzcbxO331dwg27Sbt9lerO2ex1FnM5g1A9a2+
RbtJndvNruPfpxeOD2FW53vy4ny+E9e5N+p5GCuLltdt9MTxCcrmfKsnV5aOzxU2Uzly11l2l5bX8TlypWPXbPHcq57gJm56mfOsxp3Lio2vd5COo0svkcx5
/rJurUIpPt2O85d1E98zeYfVcXThU9TKeaWCdtK6rOlp10sM3Z5M5G/7kxCWNa0cr1IhmX5F0dC12cjI9MtsJGur3pt/59EFH9W0dtC8+tC4dlBwTzYsqJO8
RrTwOaIwVq0ab4fmVcK57Fw5LYI0Lp01t17jgmmj+seyqO6jm86WYGW4oRyAZGW4SV1QGsGkLiiNYFDfpOFUoogqwQe9vfCHsHhIfsvAjrwexkH2OXQNp4qC
KjQ0UbZwaZkgdcUYadUazQnfScsEqXuclfRzzAUDDWGgN1fisqsppqhWZFNTrGg0OxTyIygu9p3N52ju91ZJaCXFmtkry6p7V9vVnwv32VUPjIqrlrMr7KoH
JuVVy6lyu8/RwF7+6muCQb9Ua1z9OF/V5IYqn8nkx/k62Fd7vLyyz3/08pv50P4IUV7e+XMEhP72abNJcU6WvtycNLscYZIlNx8hyoaXQwyz6OZD3PdzBIb+
7PnvAQI66KCDDjrooIMOOuiggw466AR00EEHHXTQQQcddNBBBx100EEHHXTQQQcddNAfFX0wna3PWc7G/RuPEA9mi8shFrNBfOMhkrwoq3PO8xpBvzN6PH6t
f+S4HFgforfY/jzEdtGzPkRW/po8bzURG3Rbr+Wx/pv92K6bWF8doV7btZz8eqGNxZIL0O2u8lndmP1I3mrWzYdYy6921U7w0iV5oNukv69VeRXemadH1RGO
U9kR1KsopavZQLfIuNZkL3mki5e6Q4gajnadsWy1M+jyaMHOV6pZPd7qD7E1q5vqSJSgt4m+qGtHdZO5QN1cMaYEvT30cW3MsefUVbz18Ib7uaDGVQ56W+j9
WpCt/hlOcoiZ9hCigo8p6C2hb2tXMlGzqWvdPUJWJ3QXgd6K+UwmVms6+LXsCGvNuKuw3GkBeiuDMkch+lI9Dic8Qq0e3pMWNj5EoHu80DWX+lp6BOWDgbyE
eQF6C9mL0Rdud3TdXV2+WcEBdPeM5GL7W9/yzbcIi21JhqDff1zGfJ3unduNzQZEJeie3td0b2292rnd2Gw1tgPdOTZir643CNXzu9Vu3BHorpOjbMS2jo//
ys6ihW03Qb8Ten3rsLups7DaHXcI+r9HX9scYe2OXoAOOuigg849HXSe3kHnPZ0ROUbkGHtn7J1v2fiWje/T+T6dmTPMnOkUOnPknhCd2bDPiM6892dEb2GF
y8y12bDCxTN6G2vZXr2sZTOvVga9vREaVq2Gh8769GdEpxLFM6I/SM2ZkpozPtEfvLpUQXWpe6BTR+4p0a8qRu5vqRg5/V0xckbFyAdHf7tYqQ37fOjdDuig
gw466KCDDjrooIMOOuiggw466KCDDjrooIMOOuiggw466KCDDjoBHXTQQQf9vhkMZucMBqA/CXp/8WMO9HbRBz109Hh6tTpqP41BDxm9eTXbcQZ6sOh95Wrl
bR/0MNHHt9WVAr3D6ItbC5KB3ln05e1l6EDvKPrUtbgU6J1DF9WMHIEeErqs1OgxBj0g9KVrdVnQO4cu3tthAHow6OL9ml5BDwXdYhOXHuiBoE/l6DPQA0G3
2PBpC3oY6LHNFl090INAt9rEcQR6EOgtbLsJetDoS9CDQG9hK23QQQcddNAfD30JOg9yPL0/AfrYBn0KehDofRv0AehhjL0f5eZHxt4DQbd4knsFPRD0kRx9
DHooM2f2D9O7g/54L20z0INBj4WXuoc50KA/2l3dw2oH0P3l9THmwoLutYMXzJPbx6AHhf7SN47QHL0UJgD9kdT9mIPuWV3bw+89FSAB3fN9XfM09+qrwhTo
3t/cFF38ceztTwDd/8U+OzZVFPNYSA70f8E+/nNr34591g4E/R+lN16s38Zl9+vFuOf5lz8BOnnEgA46AZ2ATkAnoBPQCegEdAI6AZ2ATkAnoBPQCegEdAI6
6AR0AjoBnYBOQCegE9AJ6AR0AjoBnYBOQCegE9AJ6KAT0AnoBHQCOgGdgE5AJ6AT0Ano5GnQm+qkZ9mwOCeR1lVPilz/A1E+SVqu5T4ssoes795J9GS+OX1m
KDz/5x/daM0vh8xaNS/PR5yD3gp6Wp1+pJIB7E4G08nlB1Ztmidvfx/obaAXp9MN6CcTemFxMFky0NtCL3+bnwrQg0eff3NvqnMmL6CHjj78AF/lzU/ag9ls
4Bs9Hs2mfdDvh757v8ZTxe6pe+UuqfdDH79t57eOQb8Tev5uHun3SW7aD/lu6KPPPfxi0O+D/v56rhpDWX9uorj2iP61becM9Lugv7/5zlXn/3vrTH/og++9
t0G/C/pEe6F/n/968A/Qa9Dvgr466QZT4+/zH3OlB4O+0fbuL1/bI2/9de/x1z19Cfpd0N/O4sR81Q08PsjNPjdd74F+P/TM9Mp8HHt9T1/UisEB0NtAT41y
8XSxmMaeR+R6s+VsHDMidx/0TPvwzth7wOgvoIMOOuiggw466KCDDvojo2eXvH/fkv3K33Oapi2iv/+K1MybgN560t1Jld0vkug8O7r6PcVipfynh1yDHg3L
71+6metm11/+uvLX/7FR/s5NCrowarg/U9UnV4PzE80/PSjRk/Lw92fnykGh1d81F9o/F3RhDpqzuPt5/qurPrrQ/NNf3f0P9KRZrVTM0qr+zsSudA0NdGFK
zVks9ei5/ZVeyO4HanSu9DYSqa+dVaRH/zlRXvs48Ike/bohb6qd8WK/Qtf8uVUEetuvbJXyvUv69J5+3Up28+E7cTL8vsM3TcStFAtteHrvCPqXefX7Z/NK
rQ56t9F3H+a765/MDyp10LuNrrt1f96pV6CHiK4qWfHxEjEBPTx0dZmSd/VDAnpo6KXp+H9/AvTOo+sL0xwapumB3nl0/XdqecOlDnrX0UvDt6hv43WHCPSQ
0E0TrPPrZz3QO46+MU6YODR/ywN6d9HNdYvK5u9zQe8uurlkZH71R4DecXTpdMcM9HC+cLllXi3o3UavQAcddLp30ANDHwof5FLQw0HPBCPvvLJ1EL0wdtsM
zjwX+ka2tcPOchg2Af2foVdG9LnoC5eh/AuXpPGWAvojoaeir1bf586Ivlp9Af0R0FfmjttwqWcWkyheGneTAt0femH+4jQ3bwQU7RquXiX6ruk/gO4PfXLd
LSsu9cL06P73FyjRG3sX0P2hp4Kd+4amKdBF4zQ6Jfq8aZAPdH/o7zNeDG9kK736pHlTMCV63tREQPeIXgpG3D5u2c09fFQq5kgr0aOmZVCge0TPtHv+fN4E
PlYpVtfP8NlHgziIFzB+9hw56P8K/eMNe5OK1E/lb/bss7rEIbUYAsgaFr+B7hM9+9rHL5Won6rJ58+lk01z9QrjuE/1Vd8gAf1foP8qRHLZsrO5cNCvemCX
jT1//u+NqPzIj5HYw5/fWYDuF/1qb97msZpIXaVGczkXpo7jI3PQ/aJfFR1S9PNZc6GgKnmxRn/5W/dwB7odemJEnxuG1P5wKh/lh9fsZaZtacoRnaj4dbFv
QLdDfzPVTnO43EMP2q9MkuLbc677uckP98Mqj/TPftpR/WH59VxwGIJuif6SmqrzRlkWGedBJMJCv2k2KYoizxLz8aS/M+FBjoBOQCegE9AJ6AR0AjoBnYAO
OqcAdAI6AZ2ATkAnoBPQCegEdAI6AZ2ATkAnoBPQCegEdNAJ6AR0AjoBnYBOQCegE9AJ6OTO+R9PaQvg1/UGJQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxMS0w
MS0wOFQyMzoyNTo0NCswMDowMFtE1BcAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTEtMDEtMDhUMjM6MjU6NDQrMDA6MDAqGWyrAAAAF3RFWHRwbmc6Yml0LWRl
cHRoLXdyaXR0ZW4ACKfELPIAAAAZdEVYdFNvZnR3YXJlAEFkb2JlIEltYWdlUmVhZHlxyWU8AAAAAElFTkSuQmCC" /></span>
	    <strong>Fitbit</strong>
        <span class="count">
            <span>{{ collector.count }}</span>
            <span>{{ '%0.0f'|format(collector.time * 1000) }} ms</span>
        </span>
	</span>
{% endblock %}

{% block panel %}
{#<pre>{{ dump(collector) }}</pre>#}
	<h2>API Requests</h2>
	{% if collector.logs is empty %}
		<p>
			<em>No requests.</em>
		</p>
	{% else %}
		<ul class="alt" id="requestsPlaceholder">
			{% for i, request in collector.logs %}
				<li class="{{ cycle(['odd', 'even'], i) }}" data-extra-info="{{ '%0.2f'|format(request.time * 1000) }}" data-target-id="{{ i }}">
					<div style="margin-top: 4px" id="requestNo-{{ i }}">
						<div onclick="return expandRequest(this);" title="Expand request" data-target-id="code-{{ i }}" style="cursor: pointer;">
							<img alt="+" src="{{ asset('bundles/framework/images/blue_picto_more.gif') }}" style="display: inline;" />
							<img alt="-" src="{{ asset('bundles/framework/images/blue_picto_less.gif') }}" style="display: none;" />
							<span style="display: none">Shrink request</span>
                            <span id="smallcode-{{ i }}">
                                {{ request.call.path|raw }}
                            </span>
						</div>
						<code id="code-{{ i }}">
							<span style="font-weight: bold;">Request:</span><br />
							{{ request.call.method|raw }}
							{{ request.call.path|raw }}
						</code>
                        <span id="original-request-{{ i }}" style="display: none;">
                            {{ request.call.path|raw }}
                        </span>
                        <code id="response-code-{{ i }}">
	                        <span style="font-weight: bold;">Response:</span>
	                        <pre style="max-height: 400px; overflow: scroll;">{{ request.result|raw }}</pre>
                        </code>
						<small>
							<strong>Time</strong>: {{ '%0.2f'|format(request.time * 1000) }} ms
						</small>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% endif %}

	<script type="text/javascript">//<![CDATA[
		function expandRequest(link) {
			var sections = link.children,
				target = link.getAttribute('data-target-id'),
				targetId = target.replace('code', ''),
				requestParameters = document.getElementById('original-request' + targetId),
				response = document.getElementById('response' + targetId);

			if (requestParameters.style.display != 'none') {
				requestParameters.style.display = 'none';
				document.getElementById('small' + target).style.display = 'inline';
				document.getElementById('expandParams' + targetId).innerHTML = 'Display runnable request';
			}

			if (document.getElementById('small' + target).style.display != 'none') {
				document.getElementById('small' + target).style.display = 'none';
				document.getElementById('response-code' + targetId).style.display = 'block';
				document.getElementById(target).style.display = 'inline';

				sections[0].style.display = 'none';
				sections[1].style.display = 'inline';
				sections[2].style.display = 'inline';
			} else {
				document.getElementById('small' + target).style.display = 'inline';
				document.getElementById('response-code' + targetId).style.display = 'none';
				document.getElementById(target).style.display = 'none';

				sections[0].style.display = 'inline';
				sections[1].style.display = 'none';
				sections[2].style.display = 'none';
			}

			return false;
		}
		//]]></script>

	<style>
		h3 {
			margin-bottom: 0;
		}

		code {
			display: none;
		}

		code pre {
			padding: 5px;
			border: 1px solid #000000;
		}
	</style>
{% endblock %}